:root {
  --color-primary: #0069B4;
  --color-light: #FFFFFF;
  --color-secondary: #C4C4C4;
  --color-text: #2C3242;
  --color-text-secondary: #8F919B;
  --color-disabled: #ccc;
  --color-secondary-background: #F6F8FA
}